body {
    background: black;
    margin: 0px;
    padding:0px;
    animation: fadeInAnimation ease 3s;
    animation-iteration-count: 1;
    overflow-x: hidden;
}

@keyframes fadeInAnimation {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
     }
}

@font-face {
    font-family: Helvetica-neue;
    src: url(../HelveticaNeue.ttc);
}

@font-face {
    font-family: Standard-book;
    src: url(standard-book.otf);
}

@font-face {
    font-family: Helvetica-neue;
    src: url(../HelveticaNeue.ttc);
}

@font-face {
    font-family: Director-regular;
    src: url(../Director-Regular.otf);
}

@font-face {
    font-family: Director-bold;
    src: url(../Director-bold.otf);
}

@font-face {
    font-family: Director-light;
    src: url(../Director-Light.otf);
}

.pagecontainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width:100%;
    padding: 25px;
    /* border: 2px solid red; */
}

.pagecontainer img {
    height:80vh;
    filter: drop-shadow(0px 0px 2px #ffffff);
}

h1 {
    font-family: "Pinyon Script", cursive;
    font-weight: 400;
    font-style: normal;
    font-size: 2.5rem;
    color: white;
    filter: drop-shadow(0px 0px 2px #ffffff);
}

a {
    font-family: "Director-bold";
    color: #ffffff;
    text-decoration: none;
    transition: ease-in-out 1s;
    z-index: 999;
}

.back {
    position: fixed;
    top: 25px;
    left: 25px;
    font-size: 1.5rem;
    z-index: 999;
}

@keyframes fadeInUp2 {
    from {
        opacity: 0; /* Start with opacity 0 */
        transform: translateY(20px); /* Start slightly below its final position */
    }
    to {
        opacity: 1; /* End with full opacity */
        transform: translateY(0); /* End at its final position */
    }
}


@media only screen and (max-width: 768px) {

}
