body {
    background: black;
    margin: 0px;
    animation: fadeInAnimation ease 3s;
    animation-iteration-count: 1;
    margin-top:20px;
    overflow-x: hidden;
}

@keyframes fadeInAnimation {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
     }
}

@font-face {
    font-family: Helvetica-neue;
    src: url(../HelveticaNeue.ttc);
}

@font-face {
    font-family: Standard-book;
    src: url(standard-book.otf);
}

@font-face {
    font-family: Helvetica-neue;
    src: url(../HelveticaNeue.ttc);
}

@font-face {
    font-family: Director-regular;
    src: url(../Director-Regular.otf);
}

@font-face {
    font-family: Director-bold;
    src: url(../Director-bold.otf);
}

@font-face {
    font-family: Director-light;
    src: url(../Director-Light.otf);
}

p {
    font-family: "Director-regular";
    font-weight: 300;
    font-size: 1.5rem;

    color:white;
    text-align: center;
}

.countdown-container {
    display: flex;
    justify-content: center; /* Align items horizontally */
    align-items: center; /* Align items vertically */
    height: fit-content; /* Adjust height as needed */
    filter: drop-shadow(0px 0px 10px white);
}

.container {
    display: flex;
    flex-direction: column;
    margin:auto;
    height: fit-content;
    width: fit-content;
    align-items: center; /* Align items vertically */
    filter: drop-shadow(0px 0px 10px white);
    /* border: 3px solid red; */
}

.rug img {
    height:900px;
    width: fit-content;
    /* border: 1px solid rgb(38, 0, 255); */
}

.collapse {
    position: absolute;
    align-items: center; /* Align items vertically */
    justify-content: center;
}

.collapse img {
    width: 100%; 
    height: 100%;
    object-fit: cover;
}

ul {
    position: absolute;
    top:180px;
    
    list-style-type: none;
    margin: 0;
    padding: 0;
    text-align: center;
}

li {
    display: inline-block;
    margin-right: 1em;
    color: white;
}

.numbers {
    display: flex;
    justify-content: center;
    align-items: center;

    font-family: "Director-bold";
    font-size: 2rem;
    line-height: 2;
    margin: 10px auto;
}

.name {
    font-family: "Helvetica-neue", sans-serif;
    font-weight: lighter;
    font-size: 0.75rem;
    letter-spacing: 0;
    line-height: 2;

    margin: 0 auto;
    text-align: center;
    position: relative;
    top: -25px;
}

.back {
    position: fixed;
    top: 25px;
    left: 25px;
    font-size: 1.5rem;
}

#tag {
    position: absolute;
    top:825px;
    left:500px;
    opacity: 0; /* Initially hidden */
    /* border: 1px solid red; */
}

#tag img {
    height: 150px;
    width: fit-content;
}

#tag.animate {
    animation: fadeInUp2 1s ease forwards; /* Apply fade-in animation */
}

.pricecontainer {
    display: flex;
    justify-content: center; /* Horizontally center */
    align-items: center; /* Vertically center */
    height: fit-content; /* Adjust height as needed */
    /* border: 1px solid red; */
    margin:auto;
    margin-top:50px;
    margin-bottom:70px;
    width:fit-content;
}

button {
    background-color: transparent; 
    border: 1px solid white;
    color: white;
    padding: 15px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 1.5rem;
    border-radius: 12px;
    transition: ease-in-out 1s;
}


a {
    font-family: "Director-bold";
    color: #ffffff;
    text-decoration: none;
    transition: ease-in-out 1s;
}

button a:hover {
    color: black;
    text-decoration: none;
}

.button.animate {
    animation: fadeInUp2 1s ease forwards; /* Apply fade-in animation */
}

button:hover {
    background-color: white; 
    filter: drop-shadow(0px 0px 5px white);
}

@keyframes fadeInUp2 {
    from {
        opacity: 0; /* Start with opacity 0 */
        transform: translateY(20px); /* Start slightly below its final position */
    }
    to {
        opacity: 1; /* End with full opacity */
        transform: translateY(0); /* End at its final position */
    }
}


@media only screen and (max-width: 768px) {
    ul {
        top:30px;
    }

    li {
        margin-right: 0rem;
        width: 4em;
    }

    .numbers {
        font-size: 1.6rem;
        line-height: 2;
        margin: 10px auto;
    }

    .name {
        font-size: 0.75rem;
    }
    
    .container {
        height: 775px;
        width: fit-content;
        align-items: flex-end; /* Align items vertically */
        justify-content: center; /* Horizontally center */
        align-items: center; /* Vertically center */
        
        margin: auto;
        margin-left:10px;
    }
    
    .container img {
        height: fit-content;
        width: 400px;
    }

    .collapse img {
        max-height: 775px;
        width: fit-content;
    }


    #tag {
        opacity: unset;
        top:55vh;
        left:240px;
    }
    
    #tag img {
        width: 140px;
        height: fit-content;
    }

    #tag.animate {
        animation: unset;
    }

    .pricecontainer {
        margin-top:unset;
        margin-bottom:unset;
    }

    button {
        background-color: white; 
        filter: drop-shadow(0px 0px 5px white);
        font-size: 1rem;
        margin-bottom:20px;
    }

    button a {
        color: black;
    }

}
