body {
    background: black;
    margin: 0px;
    animation: fadeInAnimation ease 3s;
    animation-iteration-count: 1;
}

@keyframes fadeInAnimation {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
     }
}

@font-face {
    font-family: Helvetica-neue;
    src: url(../HelveticaNeue.ttc);
}

@font-face {
    font-family: Standard-book;
    src: url(standard-book.otf);
}

@font-face {
    font-family: Helvetica-neue;
    src: url(../HelveticaNeue.ttc);
}

@font-face {
    font-family: Director-regular;
    src: url(../Director-Regular.otf);
}

@font-face {
    font-family: Director-bold;
    src: url(../Director-bold.otf);
}

@font-face {
    font-family: Director-light;
    src: url(../Director-Light.otf);
}

p {
    font-family: "Director-regular";
    font-weight: 300;
    font-size: 1.5rem;

    color:white;
    text-align: center;
}

.countdown-container {
    display: flex;
    justify-content: center; /* Align items horizontally */
    align-items: center; /* Align items vertically */
    height: fit-content; /* Adjust height as needed */
    filter: drop-shadow(0px 0px 10px white);
}

.container {
    display: flex;
    flex-direction: column;
    margin:auto;
    height: fit-content;
    width: fit-content;
    align-items: center; /* Align items vertically */
    filter: drop-shadow(0px 0px 10px white);
    margin-top:20px;
    /* border: 1px solid red; */
}

.container img {
    height:110vh;
    width: fit-content;
    /* border: 1px solid red; */
}


ul {
    position: absolute;
    top:180px;
    
    list-style-type: none;
    margin: 0;
    padding: 0;
    text-align: center;
}

li {
    display: inline-block;
    margin-right: 1em;
    color: white;
}

.numbers {
    display: flex;
    justify-content: center;
    align-items: center;

    font-family: "Director-bold";
    font-size: 2rem;
    line-height: 2;
    margin: 10px auto;
}

.name {
    font-family: "Helvetica-neue", sans-serif;
    font-weight: lighter;
    font-size: 0.75rem;
    letter-spacing: 0;
    line-height: 2;

    margin: 0 auto;
    text-align: center;
    position: relative;
    top: -25px;
}

.back {
    position: fixed;
    top: 25px;
    left: 25px;
    font-size: 1.5rem;
}

.boywest {
    font-size: 2rem;
    position: absolute;
    top:250px;
}

.cowboy {
    position: absolute;
    top:350px;
    left:500px;
    width:150px;
}

.go-west {
    position: absolute;
    top:450px;
    left:150px;
}

.go-walk {
    position: absolute;
    top:525px;
    left:400px;
    width:200px;
}

.walk-aways {
    position: absolute;
    top:650px;
    left:200px;
    width:300px;
}

#tag {
    position: absolute;
    bottom:75px;
    left: 400px;
    opacity: 0; /* Initially hidden */
    position: relative; /* Add position relative for proper animation */
    /* border: 1px solid red; */
}

#tag img {
    height: 150px;
    width: fit-content;
}

#tag.animate {
    animation: fadeInUp2 1s ease forwards; /* Apply fade-in animation */
}

.pricecontainer {
    display: flex;
    justify-content: center; /* Horizontally center */
    align-items: center; /* Vertically center */
    height: fit-content; /* Adjust height as needed */
    /* border: 1px solid red; */
    margin:auto;
    margin-bottom:50px;
    width:fit-content;
}

button {
    background-color: transparent; 
    border: 1px solid white;
    color: white;
    padding: 15px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 1.5rem;
    border-radius: 12px;
    transition: ease-in-out 1s;
}


a {
    font-family: "Director-bold";
    color: #ffffff;
    text-decoration: none;
    transition: ease-in-out 1s;
}

button a:hover {
    color: black;
    text-decoration: none;
}

.button.animate {
    animation: fadeInUp2 1s ease forwards; /* Apply fade-in animation */
}

button:hover {
    background-color: white; 
    filter: drop-shadow(0px 0px 5px white);
}

@keyframes fadeInUp2 {
    from {
        opacity: 0; /* Start with opacity 0 */
        transform: translateY(20px); /* Start slightly below its final position */
    }
    to {
        opacity: 1; /* End with full opacity */
        transform: translateY(0); /* End at its final position */
    }
}


@media only screen and (max-width: 768px) {
    .container {
        display: flex;
        flex-direction: column;
        justify-content: center; /* Horizontally center */
        align-items: center; /* Vertically center */
        height: 95vh; /* Adjust height as needed */
        width:90vw;
    }
    
    .container img {
        position: absolute;
        height: fit-content;
        width: 425px;
    }

    ul {
        top:30px;
    }

    li {
        margin-right: 0rem;
        width: 4em;
    }

    .numbers {
        font-size: 1.75rem;
        line-height: 2;
        margin: 10px auto;
    }

    .name {
        font-size: 0.75rem;
    }

    button {
        background-color: white; 
        filter: drop-shadow(0px 0px 5px white);
        font-size: 1.25rem;
        margin: 0rem;
    }

    button a {
        color: black;
    }

    p {
        font-family: "Director-regular";
        /* font-style: italic; */
        font-weight: 300;
        font-size: 1rem;
    
        color:white;
        text-align: center;
    }
    
    .boywest {
        font-size: 1.75rem;
        position: absolute;
        top:275px;
        left:unset;
    }
    
    .cowboy {
        position: absolute;
        top:375px;
        left:unset;
        width: unset;
    }
    
    .go-west {
        position: absolute;
        top:425px;
        left:unset;
    }
    
    .go-walk {
        position: absolute;
        top:475px;
        left:unset;
        width: unset;
    }
    
    .walk-aways {
        position: absolute;
        top:525px;
        left:unset;
        width: unset;
    }

    #tag {
        position: absolute;
        opacity: unset;
        top:600px;
        left:unset;
    }
    
    #tag img {
        height: 80px;
        width: fit-content;
    }

    #tag.animate {
        animation: unset;
    }

}